body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#headBar {
    background-color: rgb(212, 212, 212);
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#headBar>p {
    margin: 0px 8px;
}



/* NavBar styling starts from here --> */
#navBar {
    height: 12%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-left: none;
    border-right: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

#iconBox {
    margin-left: 5%;
}

#iconBox>img {
    height: 45px;
    width: 100px;
    /* margin-left: 0px; */
}

#locationBox {
    margin-left: 3%;

}

#locationBox>select {
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #f5f4f4;
}

#searchBox>input {
    margin-left: 15%;
    border: 0px solid grey;
    border-radius: 5px;
    background-color: #f5f4f4;
    height: 40px;
    width: 450px;
    font-size: 15px;
    background-image: url('./Images/icons/search_icon.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#searchBox>input:hover {
    /* border: none; */
    padding: 0px 15px;
    cursor: pointer;
    background-position: 95%;
}

#loginBox {
    margin-left: 12%;
}

#loginBox>button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartBox>button {
    margin-left: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    margin-left: 5px;
    font-size: 12px;
}

button:hover {
    color: rgb(248, 72, 102);
    cursor: pointer;
}

/* NavBar styling end here ----*/


/* CategoeryBox styling starts from here --> */
#categoeryBox {
    height: 20%;
    /* background-color: yellow; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.swiper {
    height: 100%;
    width: 80%;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide>div {
    width: 100%;
    height: 60%;
}

.swiper-slide>div>div>img {
    width: 60%;
    height: fit-content;
}

.swiper-slide>div>p {
    margin-top: 8%;
    font-size: 13px;
}